* {
  font-family: Mardoto, sans-serif;  
}

::-webkit-scrollbar {
     width: 14px;
     height: 14px;
   }
   
   ::-webkit-scrollbar-track {
     background-color: #ffeae0;
     box-shadow: inset 0 0 6px rgb(255 199 174);
   }
   
   ::-webkit-scrollbar-thumb {
     background-color: #e16f3d;
     border: 2px solid #ffdece;
     border-radius:7px;
   }
   ::-webkit-scrollbar-thumb:hover {
     background-color: #e16f3d;
     border: 1px solid #ffdece;
   }

@font-face {
    font-family: 'Mardoto';
    src: url('./resources/fonts/Mardoto/ttf/Mardoto-Regular.ttf');
    src: url('./resources/fonts/Mardoto/woff/Mardoto-Regular.woff2') format('woff'),
         url('./resources/fonts/Mardoto/ttf/Mardoto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mardoto';
    src: url('./resources/fonts/Mardoto/ttf/Mardoto-Italic.ttf');
    src: url('./resources/fonts/Mardoto/woff/Mardoto-Italic.woff2') format('woff'),
         url('./resources/fonts/Mardoto/ttf/Mardoto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Mardoto';
    src: url('./resources/fonts/Mardoto/ttf/Mardoto-Bold.ttf');
    src: url('./resources/fonts/Mardoto/woff/Mardoto-Bold.woff2') format('woff'),
         url('./resources/fonts/Mardoto/ttf/Mardoto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Mardoto';
    src: url('./resources/fonts/Mardoto/ttf/Mardoto-BoldItalic.ttf');
    src: url('./resources/fonts/Mardoto/woff/Mardoto-BoldItalic.woff2') format('woff'),
         url('./resources/fonts/Mardoto/ttf/Mardoto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Mardoto';
    src: url('./resources/fonts/Mardoto/ttf/Mardoto-Light.ttf');
    src: url('./resources/fonts/Mardoto/woff/Mardoto-Light.woff2') format('woff'),
         url('./resources/fonts/Mardoto/ttf/Mardoto-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Mardoto';
    src: url('./resources/fonts/Mardoto/ttf/Mardoto-LightItalic.ttf');
    src: url('./resources/fonts/Mardoto/woff/Mardoto-LightItalic.woff2') format('woff'),
         url('./resources/fonts/Mardoto/ttf/Mardoto-LightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
  font-family: 'Mardoto';
  src: url('./resources/fonts/Mardoto/ttf/Mardoto-Thin.ttf');
  src: url('./resources/fonts/Mardoto/woff/Mardoto-Thin.woff2') format('woff'),
       url('./resources/fonts/Mardoto/ttf/Mardoto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Mardoto';
  src: url('./resources/fonts/Mardoto/ttf/Mardoto-ThinItalic.ttf');
  src: url('./resources/fonts/Mardoto/woff/Mardoto-ThinItalic.woff2') format('woff'),
       url('./resources/fonts/Mardoto/ttf/Mardoto-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
    font-family: 'Mardoto';
    src: url('./resources/fonts/Mardoto/ttf/Mardoto-Medium.ttf');
    src: url('./resources/fonts/Mardoto/woff/Mardoto-Medium.woff2') format('woff'),
         url('./resources/fonts/Mardoto/ttf/Mardoto-Medium.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Mardoto';
    src: url('./resources/fonts/Mardoto/ttf/Mardoto-MediumItalic.ttf');
    src: url('./resources/fonts/Mardoto/woff/Mardoto-MediumItalic.woff2') format('woff'),
         url('./resources/fonts/Mardoto/ttf/Mardoto-MediumItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media print {
     header, .MuiDrawer-root, .MuiTooltip-popper {
          display: none !important;
      }
     main { 
          position: fixed;
     }
     #print-section, #print-section * {
       visibility: visible;
     }
     #print-section {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
     }
   }